[submodule "without-gfx/components/ESP32-HUB75-MatrixPanel-I2S-DMA"]
	path = without-gfx/components/ESP32-HUB75-MatrixPanel-I2S-DMA
	url = https://github.com/diplfranzhoepfinger/ESP32-HUB75-MatrixPanel-DMA.git
